language: java
sudo: required
install: true

addons:
  sonarcloud:
    organization: "sonarcloud" # the key of the org you chose at step #3
    token:
      secure: ${SONAR_TOKEN} # encrypted value of your token

script:
  - mvn clean -DskipTests=false -B
  - mvn install -DskipTests=false -B
  - mvn test -B
  - mvn cobertura:cobertura
  - sudo apt-get install -y tree
  - tree $TRAVIS_BUILD_DIR
  - tree /home/travis/build/hemanth22/GroovyLearning/jobs
  - tree /home/travis/build/hemanth22/GroovyLearning/builds
  - tree /home/travis/build/hemanth22/GroovyLearning
  - tree /home/travis/build/hemanth22
  - tree /home/travis/build
  - mvn sonar:sonar -Dsonar.projectKey=hemanth22_GroovyLearning -Dsonar.organization=hemanth22-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=4f74ef7224c17a779077bfeed81cfc006cb4f798

jdk:
  - oraclejdk8

cache:
  directories:
    - '$HOME/.sonar/cache'

after_failure:
    #- set -x
    - wget -O createIssue.sh https://git.io/CreateIssue
    - chmod 777 createIssue.sh
    - ./createIssue.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
 slack:
   rooms:
     - nothingorganization:GN1JzklSpbMyfZVWcS05U6a0#mygitrepos
