language: groovy

script:
  - javac Add.java
  - javap Add.class
 # - groovyc InsufficientFundsException.groovy
 # - groovyc InterestRateService.groovy
 # - groovyc BankAccount.groovy
  - ls -la *.class
  - groovy AddTests.groovy
 # - groovy BankAccountTests.groovy
  
notifications:
 slack:
   rooms:
     - nothingorganization:GN1JzklSpbMyfZVWcS05U6a0#mygitrepos
