language: groovy

script:
 # - javac Add.java
 # - javap Add.class
  - mvn clean
  - mvn compile
  - mvn test
  - mvn clean
  - mvn install
  - tree
  #- groovyc InsufficientFundsException.groovy
  #- groovyc InterestRateService.groovy
  #- groovyc BankAccount.groovy
  #- ls -la *.class
 # - groovy AddTests.groovy
  #- groovy BankAccountTests.groovy

after_failure:
    - ./gitapissue.sh

notifications:
 slack:
   rooms:
     - nothingorganization:GN1JzklSpbMyfZVWcS05U6a0#mygitrepos


