language: groovy

script:
  - javac Add.java
  - javap Add.class
  - chmod 777 gitapissue.sh
  #- groovyc InsufficientFundsException.groovy
  #- groovyc InterestRateService.groovy
  #- groovyc BankAccount.groovy
  - ls -la *.class
  - groovy AddTests.groovy
 # - groovy BankAccountTests.groovy

after_failure:
    - set -x
    - ./gitapissue.sh

notifications:
 slack:
   rooms:
     - nothingorganization:GN1JzklSpbMyfZVWcS05U6a0#mygitrepos
