language: groovy
sudo: required

script:
  - mvn clean -DskipTests=false -B
  - mvn clean -Dtest=AddTests -B
  - mvn install -DskipTests=false -B
  - mvn test -B
  - mvn cobertura:cobertura
  - sudo apt-get install -y tree
  - tree $TRAVIS_BUILD_DIR
  - tree /home/travis/build/hemanth22/GroovyLearning/jobs
  - tree /home/travis/build/hemanth22/GroovyLearning/builds
  - tree /home/travis/build/hemanth22/GroovyLearning
  - tree /home/travis/build/hemanth22
  - tree /home/travis/build

after_failure:
    #- set -x
    - wget -O createIssue.sh https://git.io/CreateIssue
    - chmod 777 createIssue.sh
    - ./createIssue.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
 slack:
   rooms:
     - nothingorganization:GN1JzklSpbMyfZVWcS05U6a0#mygitrepos
