version: 2
jobs:
  build:
    docker:
      #- image:18.06.0-ce-git
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              py-pip=9.0.0-r1
            apk --no-cache add curl
            pip install wget
            pip install \
              docker-compose==1.12.0 \
              awscli==1.11.76
      - run: chmod 777 Add.java
      - run: ls -la
      - run: docker run --rm -v "$PWD":/usr/src/myapp -w /usr/src/myapp java:7 javac -d . Add.java
      - run: docker run --rm -v "$PWD":/home/groovy/scripts -w /home/groovy/scripts groovy groovy AddTests.groovy
