version: 2
jobs:
  build:
    docker:
      #- image:18.06.0-ce-git
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - run: chmod 777 Add.java
      - run: ls -la
      - run: javac -d . Add.java
      - run: groovy AddTests.groovy
