version: 2
jobs:
  build:
    working_directory: /app
    docker:
      #- image:18.06.0-ce-git
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              py-pip=9.0.0-r1
            apk --no-cache add curl
            pip install wget
            pip install \
              docker-compose==1.12.0 \
              awscli==1.11.76
      - run: echo "Pulling docker's"
      - run: docker pull java:7
      - run: docker pull groovy
      - run: echo "Docker pull complete."
      - run: docker run --rm java:7 javac Add.java
      - run: docker run --rm groovy groovy AddTests.groovy
